In [1]:
import pandas as pd

In [17]:
combine_df = pd.read_pickle('lesson_1.pkl')

## Задание 1.
### Используя библиотеку Spacy, вывести ТОП-20 популярных NER в combine_df датасете. Какой тип NER (ORG, GPE, PERSON и тд) оказался самым популярным? (Учтите, что max_word_limit_spacy для Spacy = 1000000)
### С помощью Spacy выяснить: какие персоны и организации самые обсуждаемые в train и test датасетах? вывести ТОП-20 самых популярных. Действительно ли в топ вошли только персоны и организации или есть мусор?
### Повторим шаги из заданий 1 и 2, используя библиотеку nltk.

In [12]:
import spacy
from spacy import displacy
import en_core_web_md

In [13]:
nlp = en_core_web_md.load()

In [18]:
# Я чёто не скопировал часть задания 1го пункта и предобработку сохранил в столбец "tweet"
combine_df['clean_tweet'] = combine_df['tweet']

In [94]:
spacy_tokens = []
spacy_ner = []

In [95]:
def process_row_spacy(row):
    global spacy_tokens
    global space_ner
    for e in nlp(row['clean_tweet']).ents:
        spacy_tokens.append(e.text)
        spacy_ner.append(e.label_)

In [96]:
combine_df.apply(process_row_spacy, axis=1)

0        None
1        None
2        None
3        None
4        None
         ...
49154    None
49155    None
49156    None
49157    None
49158    None
Length: 49159, dtype: object

In [104]:
spacy_ner_df = pd.DataFrame({'token': spacy_tokens, 'ner': spacy_ner})
spacy_ner_df['count'] = 1

In [114]:
spacy_ner_df.groupby(['ner']).agg({'count': 'count'}).sort_values(by=['count'], ascending=False).head(20)

             count
ner
PERSON       11531
DATE         10805
ORG           8262
GPE           5413
TIME          2300
NORP          1695
CARDINAL      1083
ORDINAL        588
PRODUCT        403
FAC            393
LOC            288
EVENT          221
WORK_OF_ART    115
QUANTITY        54
LANGUAGE        40
MONEY           20
LAW             13
PERCENT          4

#### Самый популярный тип NER - PERSON.

In [117]:
spacy_ner_df[(spacy_ner_df['ner'] == 'PERSON') | (spacy_ner_df['ner'] == 'ORG')].groupby(['token', 'ner']).count().sort_values(by=['count'], ascending=False).head(20)

                                                           count
token                                              ner
bing bong bing bong                                PERSON    107
sjw                                                ORG       102
allahsoil                                          ORG        84
gop                                                ORG        76
suppo                                              PERSON     69
obama                                              PERSON     67
nba                                                ORG        58
hillary                                            PERSON     55
islam                                              ORG        53
trump                                              ORG        52
sta                                                PERSON     45
ht                                                 ORG        41
feminismiscancer feminismisterrorism feminismmu... PERSON     40
melancholy melancholymusic                         PERSON     40
cavs                                               ORG        39
facebook                                           ORG        39
bihday                                             ORG        38
bjp                                                PERSON     36
christina grimmie                                  PERSON     34
social analytics                                   ORG        34

#### Очень много мусора

## Задание 2.
### Используя библиотеку nltk, вывести ТОП-20 популярных NER в combine_df датасете. Какой тип NER (ORG, GPE, PERSON и тд) оказался самым популярным? Для данного задания используем ограничение на количество символов во входном датасете (max_word_limit_spacy = 1000000), чтобы иметь возможность сравнить результаты работы Spacy и nltk. Обратите внимание, что nltk чувствителен к регистру.
### С помощью nltk выяснить: какие персоны и организации самые обсуждаемые в train и test датасетах? вывести ТОП-20 самых популярных. Действительно ли в топ вошли только персоны и организации или есть мусор?

Я каждую строчку обрабатываю отдельно, поэтому лимит символов на входе, насколько я понимаю, на мой результат не влияет. Так же в предпроцессинге мы вызывали функцию lower(), поэтому о регистре мы уже позаботились.

In [121]:
import nltk
nltk.download('averaged_perceptron_tagger')

[nltk_data] Downloading package averaged_perceptron_tagger to
[nltk_data]     C:\Users\Vikvas\AppData\Roaming\nltk_data...
[nltk_data]   Unzipping taggers\averaged_perceptron_tagger.zip.

True

In [123]:
nltk_tokens = []
nltk_ner = []

In [122]:
nltk.pos_tag(combine_df['tweet_token'][0])

[('when', 'WRB'),
 ('father', 'NN'),
 ('is', 'VBZ'),
 ('dysfunctional', 'JJ'),
 ('and', 'CC'),
 ('is', 'VBZ'),
 ('so', 'RB'),
 ('selfish', 'JJ'),
 ('he', 'PRP'),
 ('drags', 'VBZ'),
 ('his', 'PRP$'),
 ('kids', 'NNS'),
 ('into', 'IN'),
 ('his', 'PRP$'),
 ('dysfunction', 'NN'),
 ('run', 'VB')]

In [124]:
def process_row_nltk(row):
    global nltk_tokens
    global nltk_ner
    for e in nltk.pos_tag(row['tweet_token']):
        spacy_tokens.append(e[0])
        spacy_ner.append(e[1])

In [125]:
combine_df.apply(process_row_nltk, axis=1)

0        None
1        None
2        None
3        None
4        None
         ...
49154    None
49155    None
49156    None
49157    None
49158    None
Length: 49159, dtype: object

In [126]:
nltk_ner_df = pd.DataFrame({'token': spacy_tokens, 'ner': spacy_ner})
nltk_ner_df['count'] = 1
nltk_ner_df.groupby(['ner']).agg({'count': 'count'}).sort_values(by=['count'], ascending=False).head(20)

         count
ner
NN      162438
JJ       67268
IN       50686
NNS      36032
RB       33214
VB       31674
PRP      29536
VBP      28179
DT       28151
VBZ      18725
VBG      16490
TO       15419
PRP$     12187
PERSON   11531
VBD      11150
DATE     10805
CC       10392
VBN       9316
ORG       8262
MD        7406

#### Самый популярный тип NER - NN.

In [129]:
nltk_ner_df[(nltk_ner_df['ner'] == 'PERSON') | (nltk_ner_df['ner'] == 'ORG')].groupby(['token', 'ner']).count().sort_values(by=['count'], ascending=False).head(20)

                                                           count
token                                              ner
bing bong bing bong                                PERSON    107
sjw                                                ORG       102
allahsoil                                          ORG        84
gop                                                ORG        76
suppo                                              PERSON     69
obama                                              PERSON     67
nba                                                ORG        58
hillary                                            PERSON     55
islam                                              ORG        53
trump                                              ORG        52
sta                                                PERSON     45
ht                                                 ORG        41
feminismiscancer feminismisterrorism feminismmu... PERSON     40
melancholy melancholymusic                         PERSON     40
cavs                                               ORG        39
facebook                                           ORG        39
bihday                                             ORG        38
bjp                                                PERSON     36
christina grimmie                                  PERSON     34
social analytics                                   ORG        34

#### Результат такой же, как и у spaCy (ну или я не заметил различия, почти всё совпадает даже в количестве).

## Задание 3.
### Какая из библиотек по вашему лучше отработала? Сравните качество полученных most_common NER и количество распознаных NER.

У меня совпали количества по интересующим категориям (Person и Org), поэтому варианта 3 - либо я где-то ошибся, либо таггер внутри одинаковый, либо произошло чудо.
Поэтому мой вывод такой - nltk размечает гораздо больше типов NER, а на общих типах обе библиотеки работают одинаково.